body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    background-color: floralwhite;
    background-color: #237162;
}
.tituloInfo{
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: oblique;
    font-size: 70px;
    color: rgb(55, 43, 43);
    color: floralwhite;
}
.seccionInfo{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: floralwhite;
}
.divInfoImg{
    margin-right: 5%;
}
.buttonInicio{
    text-align: center;
    margin-top: 1%;
    color: rgb(55, 43, 43);
    width: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing:1px;
    font-size: 20px;
    margin-left: 1%;
    color: floralwhite;
    border-color: floralwhite;
}
.buttonInicio:hover{
    background-color:    rgb(55, 43, 43);
    background-color:   floralwhite;
    color: #237162;
}
.ancla{
    display: flex;
    justify-content: start;
    text-align: center;
    text-decoration: none;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
    .seccionInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
        margin-top: 0%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .ancla{
        display: flex;
        justify-content: center;
        text-align: center;
        text-decoration: none;
    }
    .divInfoImg{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-right: 0%;
    }
    .tituloInfo{
        margin-top: 10%;
    }
    .buttonInicio{
        margin-top: 3%;
    }
    .divInfoLibro{
        margin-bottom: 3%;
    }
}